.section-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.section-item {
    color: #111;
    font-size: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    line-height: 30px;
    margin: 10px;
    padding-top: 10px;
    position: relative;
    width: 100px;
    height: 100px;
}

.styled-input input[type=text] {
    background: transparent;
    font-size: 18px;
    height: 29px;
    padding: 5px; /* If you add too much padding here, the options won't show in IE */
    width: 268px;
    border: 1px solid #111;
    color: #111111;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.section-item span {
    color: #333;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
}

.wrong-entry {
    -webkit-animation-name: wrong-word;
    -webkit-animation-duration: 0.3s;
}

@-webkit-keyframes wrong-word {
    0%, 100% { left: 0px;}
    20% , 60%{left: 15px;}
    40% , 80%{left: -15px;}
}

