* {
  box-sizing: border-box;
}


.start-menu-container {
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
  font-family: 'Lato', sans-serif;
  margin: 0;
}

.start-header-title{
  letter-spacing: 2px;
  text-align: center;
  text-transform: uppercase;
}



.styled-button button {
  font-size: 14px;
  height: 29px;
  padding: 5px;
  width: 268px;
  border: 1px #779126;
  background-color: #779126;
  color: white;
}

.rounded {
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
}

.styled-select select {
  background: transparent;
  font-size: 14px;
  height: 29px;
  padding: 5px;
  width: 268px;
  border: 1px solid #111;
  color: #111111;
}

.semi-square {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.item {
  margin-bottom: 1em;
}

.item:last-child {
  margin-bottom: 0;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

footer {
  background-color: #222;
  color: #fff;
  font-size: 14px;
  bottom: 0;
  position: fixed;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 999;
}

footer p {
  margin: 10px 0;
}

footer i {
  color: red;
}

footer a {
  color: #3c97bf;
  text-decoration: none;
}